<div class="container" ng-init="listAliasGroups()">
  <table>
    <!-- aliases is a two-dimensions array -->
    <tr ng-repeat="aliasGroup in aliasGroups" style="border-bottom:2px solid darkgreen">
      <td ng-repeat="person in aliasGroup" style="border:1px solid grey; padding:1.0em; white-space: nowrap; vertical-align:bottom;">
        <!--<pre> {{ person }} </pre>-->
        <img data-ng-src="/images/{{ person.imagesClosest.basename }}" style="vertical-align:bottom; max-height:200px;" />

        <div style="color:lightyellow; font-size:12px;">
          {{ person.key }} <b>{{ person.name }}</b> ({{ person.imagesClosest.distance }})
        </div>

        <!--
        <div id="scroll">
          <span ng-repeat="image in person.images">
            <img data-ng-src="/images/{{ image.basename }}" />
          </span>
        </div>
        -->

        <div ng-if="$index === 0" style="color:orange; font-size:11px;">
          {{ person.alias }}
        </div>
        <div ng-if="$index !== 0" style="font-size:11px;">
          &nbsp;
        </div>
      </td>
    </tr>
  </table>
</div>

<style>
#scroll {
  width: 560px;
  height: 120px;
  margin: 1px auto;
  overflow: auto;
  white-space: nowrap;
}
#scroll img {
  margin:2px 1px 0 1px;
  max-height: 100px;
}
</style>