<div class="navbar navbar-inverse navbar-static-top-DISABLED" role="navigation" ng-controller="LoginController">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="/" title="Escrape 2">
      <img src="images/logo-three-ghosts.png" alt="logo" width="32" />
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">
      <li><a href="/about">about</a></li>
    </ul>

    <div class="col-sm-2 col-md-2 pull-right" style="font-size: 10px; color: #000;" ng-show="isExpired"><!-- TODO: make something better... -->
      <span>please log in again, your authentication is expired for security reasons</span>
    </div>
    <div class="col-sm-2 col-md-2 pull-right" ng-show="!isLogged" title="log in or register, to be able to use and set your preferences">
      <form class="navbar-form" role="login" ng-submit="viewLogin()">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-warning signin">
              <span>login</span>
            </button>
          </div>
        </div>
      </form>
    </div>

<!--
    <div class="col-sm-2 col-md-2 pull-right" ng-show="isLogged" title="log out">
      <form class="navbar-form" role="logout" ng-submit="logout()">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-success signin">
              <span>logout</span>
            </button>
          </div>
        </div>
      </form>
    </div>
-->
    <div class="col-sm-2 col-md-2 pull-right" ng-show="isLogged" data-ng-attr-title="logged in user is {{ user.username }}">
      <form class="navbar-form">
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle logout" data-toggle="dropdown">
            <span>{{ user.username }}</span>&emsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" data-ng-click="viewProfile()">profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" data-ng-click="logout()">logout</a></li>
          </ul>
        </div>
      </form>
    </div>

    <div class="col-sm-4 col-md-4 pull-right">
      <form class="navbar-form" role="search" ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="search-term" ng-model="filters.search.term">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
