<div ng-init="loadPerson()">

  <div id="section-data" class="panel" ng-show="sections['data'].visible"> <!-- person's data -->
    <button type="button" class="btn btn-primary">{{ personName }}</button>
    <button type="button" class="btn btn-error">{{ personKey }}</button>
    <button type="button" class="btn btn-info">{{ personDateOfFirstSync }}</button>
    <button type="button" class="btn btn-success">{{ personPhone }}</button>
  </div>

<style>
.panel-heading .accordion-toggle:after {
  /* symbol for "opened" panels */
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}
</style>
  <div id="section-slider" class="panel" ng-show="sections['slider'].visible"> <!-- person's thumbnail images slider -->
    <div class="slider">
      <span data-ng-repeat="image in person.images">
        <img data-ng-src="{{ getImageShowcaseUrl(image) }}" alt="..." ng-click="carouselOpen($index)"/>
      </span>
    </div>
  </div>

  <div id="section-footprints" ng-show="sections['footprints'].visible">
    <div id="accordion-footprints" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align:left">
            <div class="accordion-toggle" data-toggle="collapse" _data-parent="#accordion-footprints" data-target="#collapse-footprints">
              <a data-toggle="collapse" _data-parent="#accordion-footprints" data-target="#collapse-footprints">
                Footprints of this person
              </a>
              &emsp;~&emsp;
              <a data-toggle="collapse" _data-parent="#accordion-footprints" data-target="#collapse-footprints">
                My overall opinion: <span class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="ratingFunction(rating)"></span>
              </a>
            </div>
          </h4>
        </div>
        <div id="collapse-footprints" class="panel-collapse collapse in">
          <div class="panel-body">
  
            <div id="accordion-{{ panelKey }}" class="panel-group" data-ng-repeat="(panelKey, panel) in panels">

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" style="text-align:left">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{ panelKey }}" data-target="#collapse-{{ panelKey }}">{{ panel.name }} &emsp; <span class="label label-success label-as-badge">{{ (panelKey === 'reviews') ? panel.posts.length : panel.traces.length }}</span></a>
                  </h4>
                </div>
                <div id="collapse-{{ panelKey }}" class="panel-collapse collapse" ng-class="{ in: panel.active }">
                  <div class="panel-body" style="max-height: 480px; overflow-y: auto; overflow-x: hidden">

                    <div ng-if="panelKey === 'reviews'">
                      <div id="accordion-{{ topicKey }}" class="panel-group" data-ng-repeat="(topicKey, topic) in panels.reviews.topics">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title" style="text-align:left">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{{ topicKey }}" data-target="#collapse-{{ topicKey }}">
                                <span class="label label-as-badge">topic</span>      <span class="label label-danger label-as-badge">{{ topic.title }}</span>
                                <!--<span class="label label-as-badge">by</span>         <span class="label label-warning label-as-badge">{{ topic.author.name }}</span>-->
                                <span class="label label-as-badge">in section</span> <span class="label label-info label-as-badge">{{ topic.section }}</span> &emsp;
                                <span class="label label-success label-as-badge">{{ topic.postsCount }}</span>
                              </a>
                            </h4>
                          </div>
                          <div id="collapse-{{ topicKey }}" class="panel-collapse collapse" ng-class="{ in: false }">
                            <div class="panel-body">
                    
                              <!-- ---------------------------------------------------------------------------- -->
                              <div data-ng-repeat="post in panel.posts">
                                <div ng-if="post.topicKey === topicKey">
                                  <div class="row">
                                    <div class="col-xs-3" style="color: #eee; font-size: 0.8em;">
                                      <div class="row">
                                        <div class="col-xs-6" style="text-align: right;">
                                          <div><i>Post&nbsp;n°</i></div>
                                        </div>
                                        <div class="col-xs-6">
                                          <div style="">{{ 1 + $index }}</div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-6" style="text-align: right;">
                                          <div><i>Post&nbsp;date</i></div>
                                        </div>
                                        <div class="col-xs-6">
                                          <div>{{ post.date | date:'yyyy-MM-dd' }}</div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Autor&nbsp;name</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.author.name"></div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Autor&nbsp;karma</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.author.karma"></div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Autor&nbsp;posts</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.author.postsCount"></div>
                                        </div>
                                      </div>
    
                                      <div style="margin: 0.3em; border-top: 1px solid #333;"></div>
    
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Beauty</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.beauty"></div>
                                        </div>
                                      </div>
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Performance:</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.performance"></div>
                                        </div>
                                      </div>
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Sympathy:</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.sympathy"></div>
                                        </div>
                                      </div>
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Cleanliness</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.cleanliness"></div>
                                        </div>
                                      </div>
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Location&nbsp;quality</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.location.quality"></div>
                                        </div>
                                      </div>
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Location&nbsp;cleanliness</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <div ng-bind-html="post.location.cleanliness"></div>
                                        </div>
                                      </div>
                                      <div class="row" >
                                        <div class="col-xs-6" style="text-align: right;">
                                          <i>Location&nbsp;reachability</i>
                                        </div>
                                        <div class="col-xs-6">
                                          <!--<div ng-bind-html="post.location.reachability"></div>-->
                                          <!--<input-stars max="5" ng-model="reach"></input-stars>-->
                                          <span class="star-rating" star-rating rating-value="rating" data-max="5" data-readonly="true" on-rating-selected="ratingFunction(rating)"></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-9">
                                      <div ng-bind-html="post.contents" style="color: #cccc33; max-height: 200px; overflow-y: auto; overflow-x: hidden; padding-right: 0.5em;"></div>
                                    </div>
                                  </div>
                                  <div style="margin: 1.5em; border-top: 1px solid #333;"></div>
                                </div>
                              </div>
                              <!-- ---------------------------------------------------------------------------- -->
  
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> <!-- /panel 'reviews' -->

                    <div ng-if="panelKey === 'phonetraces'">
                      <!--
                      <div class="text-center" ng-hide="panel.loaded">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                      </div>
                      -->
                      <div data-ng-repeat="trace in panel.traces">

                        <div class="row">
                          <div class="col-xs-12">
                            <a ng-href="{{trace.link}}" ng-bind-html="trace.title" target="_blank" class="underline-on-hover" style="font-size: 1.1em; color: #6ac;"></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <div ng-bind-html="trace.description"></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            &nbsp; <!-- spacer -->
                          </div>
                        </div>

                        <!-- <pre>{{trace}}</pre> -->
                      </div>
                    </div> <!-- /panel 'phonePTraces' -->

                    <!--<pre>{{ panel.data }}</pre>-->
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section-carousel" ng-show="sections['carousel'].visible"> <!-- carousel panel -->
    <div id="carousel" class="carousel slide" data-ride="carousel" interval="0"> 

      <ol class="carousel-indicators">
        <li data-target="#carousel" ng-repeat="image in person.images" data-slide-to="{{ $index }}" ng-class="{ active: $first }"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item" ng-repeat="image in person.images" ng-class="{active: image.active}">
          <img ng-src="{{ getImageFullsizeUrl(image) }}" class="img-responsive">
        </div>
      </div>

      <div class="carousel-control-close">
        <span class="glyphicon glyphicon-remove carousel-control-close-glyph embossed" ng-click="carouselClose()"></span>
      </div>
      <a class="left carousel-control" data-target="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left embossed"></span>
      </a>
      <a class="right carousel-control" data-target="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right embossed"></span>
      </a>

    </div>
  </div>

</div>
