<div ng-init="loadPerson()">

  <div id="section-data" class="panel" ng-show="sections['data'].visible"> <!-- person's data -->
    <button type="button" class="btn btn-primary">{{ personName }}</button>
    <button type="button" class="btn btn-error">{{ personKey }}</button>
    <button type="button" class="btn btn-info">{{ personDateOfFirstSync }}</button>
    <button type="button" class="btn btn-success">{{ personPhone }}</button>
  </div>

  <div id="section-slider" class="panel" ng-show="sections['slider'].visible"> <!-- person's thumbnail images slider -->
    <div class="slider">
      <span data-ng-repeat="image in person.images">
        <img data-ng-src="{{ getImageShowcaseUrl(image) }}" alt="..." ng-click="carouselOpen($index)"/>
      </span>
    </div>
  </div>

<!-- TODO: reviewstracks => footprints -->
  <div id="section-reviewstracks" ng-show="sections['reviewstracks'].visible">
    <div id="accordion-reviewstracks" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align:left">
            <a data-toggle="collapse" data-parent="#accordion-reviewstracks" data-target="#collapse-reviewstracks">Reviews and Tracks about this person</a>
          </h4>
        </div>
        <div id="collapse-reviewstracks" class="panel-collapse collapse in">
          <div class="panel-body">
  
            <div id="accordion-{{ panelKey }}" class="panel-group" data-ng-repeat="(panelkey, panel) in panels">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title" style="text-align:left">
                    <a data-toggle="collapse" data-parent="#accordion-{{ panelKey }}" data-target="#collapse-{{ panelkey }}">{{ panel.name }} &emsp; <span class="label label-success label-as-badge">{{ panel.data.length }}</span></a>
                  </h4>
                </div>
                <div id="collapse-{{ panelkey }}" class="panel-collapse collapse" ng-class="{ in: panel.active }">
                  <div class="panel-body">

                    <div id="accordion-{{ topicKey }}" class="panel-group" data-ng-repeat="(topicKey, topic) in panels.reviews.topics">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title" style="text-align:left">
                            <a data-toggle="collapse" data-parent="#accordion-{{ topicKey }}" data-target="#collapse-{{ topicKey }}">Topic &emsp; <i>{{ topic.id }}</i> &emsp; <span class="label label-success label-as-badge">{{ 1 }}</span></a>
                          </h4>
                        </div>
                        <div id="collapse-{{ topicKey }}" class="panel-collapse collapse" ng-class="{ in: false }">
                          <div class="panel-body">
                  
                            <!-- ---------------------------------------------------------------------------- -->
                            <div data-ng-repeat="post in panel.data">
                              <div class="row">
                                <div class="col-xs-3">
                                  <div class="row" style="font-size: 0.8em;">
                                    <div class="col-xs-5" style="text-align: right;">
                                      <i>Post&nbsp;n°</i>
                                    </div>
                                    <div class="col-xs-7">
                                      <div>{{ 1 + $index }}</div>
                                    </div>
                                  </div>
                                  <div class="row" style="font-size: 0.8em;">
                                    <div class="col-xs-5" style="text-align: right;">
                                      <i>Post&nbsp;date</i>
                                    </div>
                                    <div class="col-xs-7">
                                      <div>{{ post.date | date:'yyyy-MM-dd' }}</div>
                                    </div>
                                  </div>
                                  <div class="row" style="font-size: 0.8em;">
                                    <div class="col-xs-5" style="text-align: right;">
                                      <i>Autor&nbsp;name</i>
                                    </div>
                                    <div class="col-xs-7">
                                      <div ng-bind-html="post.author.name"></div>
                                    </div>
                                  </div>
                                  <div class="row" style="font-size: 0.8em;" OLDstyle="white-space: no-wrap; overflow: hidden;">
                                    <div class="col-xs-5" style="text-align: right;">
                                      <i>Autor&nbsp;karma</i>
                                    </div>
                                    <div class="col-xs-7">
                                      <div ng-bind-html="post.author.karma" OLDstyle="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis"></div>
                                    </div>
                                  </div>
                                  <div class="row" style="font-size: 0.8em;">
                                    <div class="col-xs-5" style="text-align: right;">
                                      <i>Autor&nbsp;posts</i>
                                    </div>
                                    <div class="col-xs-7">
                                      <div ng-bind-html="post.author.postsCount"></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-9">
                                  <div ng-bind-html="post.contents" style="color: #cccc33; max-height: 120px; overflow-y: auto; overflow-x: hidden"></div>
                                </div>
                              </div>
                              <hr style="margin: 0.3em;">
                            </div>
                            <!-- ---------------------------------------------------------------------------- -->

                          </div>
                        </div>
                      </div>
                    </div>

                    <!--<pre>{{ panel.data }}</pre>-->
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>

<!--
  <div id="section-carousel" ng-show="sections['carousel'].visible"> <!-- carousel panel - ->
    <div id="carousel" class="carousel slide" data-ride="carousel" interval="0"> 

      <ol class="carousel-indicators">
        <li data-target="#carousel" ng-repeat="image in person.images" data-slide-to="{{ $index }}" ng-class="{ active: $first }"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item" ng-repeat="image in person.images" ng-class="{active: image.active}">
          <img ng-src="{{ getImageFullsizeUrl(image) }}" class="img-responsive">
        </div>
      </div>

      <div class="carousel-control-close">
        <span class="glyphicon glyphicon-remove carousel-control-close-glyph embossed" ng-click="carouselClose()"></span>
      </div>
      <a class="left carousel-control" data-target="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left embossed"></span>
      </a>
      <a class="right carousel-control" data-target="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right embossed"></span>
      </a>

    </div>
  </div>
-->
</div>
