@import 'opacity';

$textColor: yellow;
$textFontFamily: 'Open Sans';
$bodyPadding: 1.0em;

html * {
  font-family: $textFontFamily;
}

body {
  padding: $bodyPadding;
  color: $textColor;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: #eee;
}

.showcase-table {
  display: table;
  width: 100%;
}

.showcase-cell {
  position: relative;
  display: table-cell;
  height: 360px;
  width: 270px;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  border-radius: 0.8em;
  overflow: hidden;
}

.showcase-image {
  max-height: 320px;
  max-width: 240px;
  width: auto;
  height: auto;
  border-radius: 0.8em;
}

.showcase-caption {
  position: absolute;
  left: 0;
  bottom: 0.1em;
  _margin-right: 1.0em;
}

.showcase-caption-name {
  text-align: left;
  padding-left: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $textColor;
  font-size: 1.4em;
  text-shadow: 1px -1px 2px #000;
  position: absolute;
  left: 0;
  bottom: 0.1em;
}

.showcase-caption-tel img {
  height: 25px;
  position: absolute;
  left: 0;
  padding-left: 0.5em;
  bottom: 0.2em;
}

.showcase-separator {
  margin-top: 1.0em;
}

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
 
.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0;
}

.absent {
  @include opacity(0.4);
}
