@import 'opacity';

/*$textColor: yellow;*/
$textFontFamily: 'Open Sans';
$bodyPadding: 1.0em;
$showcaseCaptionColor: #ffefa3;

html * {
  font-family: $textFontFamily;
}

body {
  padding: $bodyPadding;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
  color: #eee;
}

/*
.no-gutter > [class*='col-'] {
  padding-right: 3px;
  padding-left: 3px;
}
*/

.loading {
  text-align: center;
  font-size: 7.0em;
  color: yellow;
  margin-top: 200px;
  content: "Loading ...";
}

.showcase-table {
  display: table;
  width: 100%;
}

.showcase-cell {
  position: relative;
  display: table-cell;
  height: 360px;
  width: 270px;
  text-align: center;
  vertical-align: middle;
  background-color: #000;
  border-radius: 0.8em;
  overflow: hidden;
}

.showcase-image {
  max-height: 320px;
  max-width: 240px;
  width: auto;
  height: auto;
  border-radius: 0.8em;
}

.showcase-caption-top {
  position: absolute;
  left: 0;
  top: 0.1em;
}

.showcase-caption {
  position: absolute;
  left: 0;
  bottom: 0.1em;
}

.showcase-caption-name-top {
  padding-top: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $showcaseCaptionColor;
  font-size: 1.3em;
  text-shadow: 2px 2px 1px #000;
}

.showcase-caption-tel img {
  height: 25px;
  bottom: 0.2em;
}

.showcase-caption-comments img {
  height: 25px;
  bottom: 0.2em;
}

.showcase-caption-nationality img {
  height: 25px;
  bottom: 0.2em;
}

.showcase-separator {
  margin-top: 0.1em;
}

.truncate-ellipsis {
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
 
.truncate-ellipsis > * {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.little-padding {
  padding: 0.4em !important;
}

.absent {
  @include opacity(0.4);
}

.label-as-badge {
  border-radius: 1em;
  position: relative;
  bottom: 2px;
}